@import "./variables";

.footer {
    background-color: $dark-blue;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    fill: $white;

    &__navigation {
        @include flex-row-layout();
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        gap: 10px;

        a {

            &:hover {
                color: $lime-green;
            }
        }

        &__logo {
            padding-bottom: 10px;
        }

        @media (min-width: $desktop_breakpoint) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__action {
            @include flex-row-layout();
            flex-direction: column;
            gap: 10px;

            @media (min-width: $desktop_breakpoint) {
                align-items: flex-start;
            }

            &__icon {
                width: 200px;
                height: 25px;
            }
        }

        &--social-media {
            flex-direction: row;
            width: 168px;
            padding-top: 10px;
        }
    }

    @media (min-width: $desktop_breakpoint) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}