@import "./variables";

.header {
    .container {
        @include flex-row-layout();
        background-color: $white;
    }



    &__request {
        display: none;

        @media (min-width: $desktop_breakpoint) {
            display: block;
        }
    }
}