@import "./variables";

.header {

    .container {
        @include flex-row-layout();
        background-color: $white;
        height: 10vh;
    }


    &__request {
        display: none;

        @media (min-width: $desktop_breakpoint) {
            display: block;
        }
    }

    a:hover {
        text-decoration: underline;
    }
}