@import "./variables";

.masthead {
    background-color: $very-light-gray;
    background-image: url(../images/image-mockups.png);
    background-size: 500px;
    background-position: -80px -140px;
    background-repeat: no-repeat;
    padding-top: 500px;
    text-align: center;
    padding-bottom: 30px;

    @media (min-width: $tablet_breakpoint) {
        background-size: 50%;
        background-position-x: center;
        background-position-y: -25vh;
    }

    @media (min-width: $desktop_breakpoint) {
        background-image: url(../images/bg-intro-desktop.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        background-position-x: 560px;
        min-height: 560px;
        padding: 0;
        padding-top: 20px;
        text-align: left;
    }

    .container {

        @media (min-width: $desktop_breakpoint) {
            padding: 0;
        }

        > * {
            max-width: 442px;
        }
    }

    &__heading {
        padding-bottom: 50px;
        font-weight: 300;
        font-size: 36px;
        color: $dark-blue;

        @media (min-width: $desktop_breakpoint) {
            font-size: 56px;
        }
    }

    &__description {
        font-size: 16px;
        color: $grayish-blue;
        line-height: 2;
        padding-bottom: 20px;
    }

}