@import "./variables";

.masthead {
    background-color: $very-light-gray;
    background-image: url(../images/image-mockups.png);
    background-size: 100% 100%;
    background-position-y: 20%;
    background-repeat: no-repeat;
    margin-top: -2rem;

    .container {
        padding-top: 200px;
    }
}