@import "./variables";

.menu {
    background-image: url("../images/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 50% 50%;
    color: transparent;

    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 99;
    height: 100%;
    width: 100%;
    height: 22px;
    width: 22px;

    @media (min-width: $desktop_breakpoint) {
        display: none;
    }
}

.navigation {
    top: 10%;
    left: 0;
    position: fixed;
    width: 80%;
    margin-top: 60px;
    transform: translateX(-110%);
    transition: transform 250ms ease-in-out;
    background-color: $white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;

    &__list {
        @include flex-row-layout();
        flex-direction: column;
        gap: 10px;

        a {
            font-weight: 500;
            color: $dark-blue;

            &:hover {
                opacity: 0.6;
            }
        }
    }

    @media (min-width: $desktop_breakpoint) {
        height: unset;
        top: unset;
        left: unset;
        position: unset;
        width: unset;
        margin-top: 0;
        transform: unset;
        transition: unset;
        background-color: unset;

        &__list {
            flex-direction: row;
            gap: 25px;
        }
    }
}

input[type="checkbox"]:checked ~ .navigation {
    transform: translateX(10%);
}

input[type="checkbox"]:checked ~ .menu {
    transition: all 0.3s;
    background-image: url("../images/icon-close.svg");
}


input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}