@mixin flex-row-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin reset-list {
    padding: 0;
    margin: 0;
    list-style: none;
}